button {
   font-weight: bold;
   box-sizing: border-box;
   border: 4px double transparent;
}
button:hover {
   /* border-style: double;
   border-color: lightblue; */
   border: 4px double lightblue;
}

.increment-btn {
   display: block;
   color: #fff;
   width: 200px;
   padding: 10px 0;
   background-color: brown;
   border: none;
   border-radius: 5px;
   margin-bottom: 15px;
}

.save-btn {
   color: #fff;
   width: 200px;
   padding: 10px 0px;
   background-color: #008000;
   border: none;
   border-radius: 5px;
}

    /* BLACKJACK SECTION */
.blackjack {
   color: #fff;
   height: 400px;
   text-align: center;
   background-color: #008000;
   font-size: 1.8rem;
}
.blackjack h1 {
   color: goldenrod;
   text-transform: uppercase;
   margin-top: 3em;
}
.blackjack button {
   color: #008000;
   background-color: goldenrod;
   font-weight: bold;
}